@media(min-width: 1170px) {
    /* Header Check */
    /* Hero Section */
    svg {
        display: none;
    }

    #main .bg-circle {
        display: none;
    }

    #main > .container {
        height: 85vh;
    }

    /* Profile Section */
    #profile > .container {
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }
    
    #profile > .container > .profile-container {
        flex-direction: column;
        flex: 1;
    }
}